
#home-header {
    background-image: url("./images/florist-home-bg.jpg");
    background-size: cover;
}

#title {
    color: #F3C677;
}

#mailing-list {
    background-color: #F3C677;
}

#mailing-list h1 {
    color: #0C0A3E ;
}

#mailing-list button {
    background-color: #7B1E7A;
}