@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Comfortaa;
    src: url("./fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: DeliusRegular;
    src: url("./fonts/DeliusUnicase-Regular.ttf");
}

@font-face {
    font-family: DeliusBold;
    src:url("./fonts/DeliusUnicase-Bold.ttf");
}
@font-face {
    font-family: GrandHotel;
    src: url("./fonts/GrandHotel-Regular.ttf");
}
h1 {
    font-family: GrandHotel,sans-serif;
}

body {
    font-family: Comfortaa,sans-serif;
}